<html>
    <body>
        {% if user.is_authenticated %}
            <p>Logged in as {{ user.username }}</p>
            <p>
                <a href="logout/">Logout</a>
            </p>
             <p>
                <a href="search/">Search notes</a>
            </p>
            {% if latest_notes %}
                <p>Latest notes:</p>
                <ul>
                    {% for note in latest_notes %}
                    <li><a href="/notes/{{ note.id }}">{{ note.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No notes available</p>
            {% endif %}
        {% else %}
            <p>
                <a href="login/">Login</a>
            </p>
            <p>
                <a href="register/">Register</a>
            </p>
        {% endif %}
    </body>
</html>