<html>
    <body>
        <form action="/notes/register/" method="post">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username">
            <p>Password:</p>
            <input type="password" name="password1">
            <p>Type password again:</p>
            <input type="password" name="password2">
            <input type="submit" value="Submit">
        </form>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </body>
</html>